version: '3.8'

services:
  control_api:
    build: ./src/controlservice
    ports:
      - "8000:8000"
    command: uvicorn main:app --host 0.0.0.0 --reload
    volumes:
      - ${VIDEO_DIR}:/media/train_videos/
      - ${DATA_DIR}:/data
    depends_on:
      - postgres
      - rabbitmq
    env_file:
      - .env

  training_worker:
    build: ./src/trainingservice
    command: python3 training_worker.py
    runtime: nvidia
    volumes:
      - ${DATA_DIR}:/data
    depends_on:
      - postgres
      - rabbitmq
    env_file:
      - .env

  dataset_worker:
    build: ./src/datasetservice
    command: python dataset_worker.py
    volumes:
      - ${DATA_DIR}:/data
      - ${VIDEO_DIR}:/media/train_videos/
    depends_on:
      - postgres
      - rabbitmq
    env_file:
      - .env

  rabbitmq:
    image: "rabbitmq:management"
    restart: always
    ports:
      - "15672:15672"
      - "5672:5672"
    env_file:
      - .env

  postgres:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ${POSTGRES_DIR}:/var/lib/postgresql/data
    env_file:
      - .env
